@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #333;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

p {
  margin: 1rem 0;
  font-size: 1.5rem;
}

button {
  background-color: #000;
  color: #fff;
  display: inline-block;
  margin: 0 5px 10px 0;
  padding: 12px 40px;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  font-size: 1.1rem;
  line-height: 20px;
  font-weight: 400;
  overflow: visible;
  cursor: pointer;
}

button:focus {
  text-decoration: none;
}

button:hover {
  text-decoration: none;
}

button:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}
